<div class="login-box">
  <div class="row">
    <form class="login-form">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 input-container ">
        <input class="form-fields" type="text" name="usernameLogin" placeholder="Username">
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 input-container">
        <input class="form-fields" type="password" name="usernamePassword" placeholder="Password">
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btn-container">
        <button class="form-btn">Login</button>
      </div>
    </form>
  </div>
</div>